<h1>Projects</h1>

<div class="row mb-3">
  <div class="col-8 mx-auto">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newModal"  >
      Create Project
    </button>
  </div>
</div>

<div class="row">
  <div class="col-8 mx-auto">
    <table class="table">
      <thead>
        <tr>
          <!-- <th>Project Id</th> -->
          <th>Project Name</th>
          <th>Project Description</th>
          <th>Date of Start</th>
          <th>Team Size</th>
          <th colspan="2" style="text-align: center;">Actions </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects; let i = index">
          <!-- <td>{{ project.projectId }}</td> -->
          <td>{{ project.projectName }}</td>
          <td>{{ project.projectDescription }}</td>
          <td>{{ formatDateForDisplay(project.dateOfStart) }}</td>
          <td>{{  project.teamSize }}</td>
          <td><td><button type="button" class="btn btn-info" data-bs-toggle="modal" 
            data-bs-target="#editModal" (click)="onEditClick($event,i)">Edit</button></td>

               <td><td><button type="button" class="btn btn-warning" data-bs-toggle="modal" 
              (click)="onDeleteClick($event,i)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<form>
<!-- Modal -->
<div class="modal"  role="dialog"  id="newModal" >
  <div class="modal-dialog"  >
    <div class="modal-content" style="width: 700px;">
      <!-- Header -->
      <div class="modal-header">
        <div class="modal-title" >New Project</div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <!-- Body -->
      <div class="modal-body">     
            <div class="form-group row mb-3">
            <label for="textProjectName" class="col-sm-4 col-form-label">Project Name</label>
            <div class="col-sm-8">
              <input type="text" id="textProjectName" class="form-control" 
              placeholder="Project Name" name="textProjectName" [(ngModel)]= "newProject.ProjectName" >
            </div>
          </div>

           <div class="form-group row mb-3">
            <label for="textProjectDescription" class="col-sm-4 col-form-label">Project description</label>
            <div class="col-sm-8">
              <textarea [(ngModel)]="newProject.ProjectDescription" placeholder="Description"
               rows="5" style="width: 100%;" name="textProjectDescription" ></textarea>

            </div>
          </div>


          <div class="form-group row mb-3">
            <label for="textDateOfStart" class="col-sm-4 col-form-label">Date of Start</label>
            <div class="col-sm-8">
              <input type="date" id="textDateOfStart" class="form-control" 
              placeholder="Date of start" name="textDateOfStart" [(ngModel)]= "newProject.DateOfStart" >
            </div>
          </div>

          <div class="form-group row mb-3">
            <label for="textTeamSize" class="col-sm-4 col-form-label">Team Size</label>
            <div class="col-sm-8">
              <input type="text" id="textTeamSize" class="form-control" 
              placeholder="Team size" name="textTeamSize" [(ngModel)]= "newProject.TeamSize" >
            </div>
          </div>

     
      </div>

      <!-- Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="onSaveClick()">Save</button>
      </div>

    </div>
  </div>
</div>
</form>









<!-- For editing -->
<form> 
<!-- Modal -->
<div class="modal"  role="dialog"  id="editModal" >
  <div class="modal-dialog"  >
    <div class="modal-content" style="width: 700px;">
      <!-- Header -->
      <div class="modal-header">
        <div class="modal-title" >Edit Project</div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <!-- Body -->
      <div class="modal-body">     
            <div class="form-group row mb-3">
            <label for="textEditProjectName" class="col-sm-4 col-form-label">Project Name</label>
            <div class="col-sm-8">
              <input type="text" id="textEditProjectName" class="form-control" 
              placeholder="Project Name" name="textEditProjectName" [(ngModel)]= "editProject.projectName" >
            </div>
          </div>

           <div class="form-group row mb-3">
            <label for="textEditProjectDescription" class="col-sm-4 col-form-label">Project description</label>
            <div class="col-sm-8">
              <textarea [(ngModel)]="editProject.projectDescription" placeholder="Description"
               rows="5" style="width: 100%;" name="textEditProjectDescription" ></textarea>

            </div>
          </div>


          <div class="form-group row mb-3">
            <label for="textEditDateOfStart" class="col-sm-4 col-form-label">Date of Start</label>
            <div class="col-sm-8">
              <input type="date" id="textEditDateOfStart" class="form-control" 
              placeholder="Date of start" name="textEditDateOfStart" [(ngModel)]= "editProject.dateOfStart" >
            </div>
          </div>

          <div class="form-group row mb-3">
            <label for="textEditTeamSize" class="col-sm-4 col-form-label">Team Size</label>
            <div class="col-sm-8">
              <input type="text" id="textEditTeamSize" class="form-control" 
              placeholder="Team size" name="textEditTeamSize" [(ngModel)]= "editProject.teamSize" >
            </div>
          </div>

     
      </div>

      <!-- Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="onUpdateClick()">Update</button>
      </div>

    </div>
  </div>
</div>
</form>